<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加記錄</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
	</head>
	<style>
		select {
			margin-bottom: 0;
		}
		.treatment-choice img {
			width: 100px;
			height: 100px;
			border-radius: 3px;
			margin-right: 10px;
		}
		
		.treatment-choice p {
			text-align: center;
			margin: 10px 0;
		}
	</style>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">添加記錄</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="saveData()">保存</a>
			</header>
			<div class="mui-content">
				<yd-cell-group>
					<yd-cell-item arrow>
						<span slot="left">就診日期：</span>
						<yd-datetime type='date' start-date="2018-01-01" end-date="2025-12-12" v-model="visitDate" slot="right"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left">就診類型：</span>
						<select slot="right" v-model="stages">
							<option value="">請選擇就診類型</option>
							<option value="初診">初診</option>
							<option value="複診">複診</option>
							<option value="入院">入院</option>
							<option value="出院">出院</option>
							<option value="手術">手術</option>
							<option value="化驗">化驗</option>
							<option value="影像">影像</option>
							<option value="體征">體征</option>
							<option value="病曆">病曆</option>
							<option value="處方">處方</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<yd-textarea slot="right" placeholder="病情記錄300字以內" maxlength="300" v-model="content"></yd-textarea>
					</yd-cell-item>
					<yd-grids-group :rows="3" item-height="130px" class="treatment-choice">
						<yd-grids-item>
							<div slot="else">
								<img id="img1" addIndex='1' src="../images/medical-add.png" />
							</div>
						</yd-grids-item>
						<yd-grids-item>
							<div slot="else">
								<img id="img2" addIndex='2' src="../images/medical-add.png" />
							</div>
						</yd-grids-item>
						<yd-grids-item>
							<div slot="else">
								<img id="img3" addIndex='3' src="../images/medical-add.png" />
							</div>
						</yd-grids-item>
						<p>圖片最多只能上傳3張，且每張圖片不能超過2M</p>
					</yd-grids-group>
				</yd-cell-group>
			</div>
			<div id="sheet" class="mui-popover mui-popover-bottom mui-popover-action ">
				<!-- 可选择菜单 -->
				<ul class="mui-table-view" style="background-color:initial">
					<li class="mui-table-view-cell">
						拍照上傳
					</li>
					<li class="mui-table-view-cell">
						從相冊選擇
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript">
		(function(_, doc, u, w) {
			_.init({gestureConfig:{longtap: true}});
			var illId = null;
			_.plusReady(function() {
				web = plus.webview.currentWebview(); //新建页面
				illId = web.illId
			})

			var imgobj = null,
				addIndex = 1,imgs=[];
			var vm = new Vue({
				el: '#app',
				data: {
					visitDate: "2018-01-01",
					content: '',
					stages: ''
				},
				mounted: function() {

				},
				methods: {
					saveData: function() {
						if(u.isNull(vm.visitDate)) {
							_.toast("請選擇就診日期");
						} else if(u.isNull(vm.stages)) {
							_.toast("請選擇就診類型");
						} else if(u.isNull(vm.content)) {
							_.toast("請輸入病情記錄");
						} else if(vm.content.length > 300) {
							_.toast("病情記錄必須在300個字以內");
						} else if(isEmojiCharacter(vm.content)) {
							_.toast("不支持表情輸入");
						} else {
							var img1 = doc.getElementById("img1").src;
							var img2 = doc.getElementById("img2").src;
							var img3 = doc.getElementById("img3").src;
							img1.indexOf("/images/medical-add.png") == -1 ? imgs.push(img1) : "";
							img2.indexOf("/images/medical-add.png") == -1 ? imgs.push(img2) : "";
							img3.indexOf("/images/medical-add.png") == -1 ? imgs.push(img3) : "";
							//添加記錄
							var waiting = plus.nativeUI.showWaiting(); //添加等待框
							var task = gettask(ASKURL + 'medical/addIllRemark', function(t, status) {
								//保存成功
								if(status == 200) {
									var data = JSON.parse(t.responseText || '{}');
									waiting ? waiting.close() : '';
									if(data.code == 0) {
										_.toast("病曆記錄添加成功");
										plus.webview.getWebviewById("case_detail").evalJS("getCaseDetail()");
									} else {
										_.toast(data.msg);
									}
								}
							});
							task.addData('visitDate', vm.visitDate);
							task.addData('privateToken', w.getUser());
							task.addData('stages', vm.stages);
							task.addData('illId', illId);
							task.addData('content', vm.content);
							task.addData('token', token);
							if(imgs.length > 0) {
								for(var i = 0; i < imgs.length; i++) {
									task.addFile(imgs[i], {
										key: "img" + (i + 1)
									});
								}
								imgs = [];
							}
							task.start();
						}
					}
				}
			})

			//选择上传图片			
			_(".treatment-choice").on('tap', "img", function() {
				imgobj = this;
				addIndex = this.getAttribute("addIndex");
				_('#sheet').popover('show');
			});
			_('#sheet').on('tap', 'li', function() {
				_('#sheet').popover('hide');
				if(~this.innerHTML.indexOf('拍照上傳')) {
					choiceCamera()
				} else if(~this.innerHTML.indexOf('從相冊選擇')) {
					choicePic()
				}
			});
			//选择图片-拍照
			function choiceCamera() {
				var cmr = plus.camera.getCamera();
				cmr.captureImage(function(p) {
					plus.io.resolveLocalFileSystemURL(p, function(entry) {
						var dst = "_doc/temp" + addIndex + ".jpg";
						plus.zip.compressImage({
							src: entry.toLocalURL(),
							dst: dst,
							width: '50%',
							overwrite: true
						}, function(even) {
							setImg(even.target);
						});
					}, function(e) {});
				}, function(e) {}, {
					index: 1,
					filename: "_doc/camera/"
				});
			}
			//图册选择
			function choicePic() {
				plus.gallery.pick(function(path) {
					var dst = "_doc/temp" + addIndex + ".jpg";
					plus.zip.compressImage({
						src: path,
						dst: dst,
						width: '50%',
						overwrite: true
					}, function(even) {
						setImg(even.target);
					});
				}, function(e) {}, {
					filter: 'image'
				});
			}

			function setImg(src) {
				imgobj.src = src;
			}
			//上传任务
			function gettask(server, callback) {
				return plus.uploader.createUpload(server, {
					method: "POST"
				}, callback);
			}
			
			//长按刪除所选图片
			_(".treatment-choice").on("longtap","img",function(){
				var self = this;
				if("../images/medical-add.png" != self.src){
					plus.nativeUI.confirm("確定移除所選圖片嗎",function(e){
						if(0 == e.index){
							self.src = "../images/medical-add.png";
						}
					},"警告",['是','否']);
				}
			})
		})(mui, document, util, window)
	</script>

</html>