<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>病曆詳情</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/case.css" />
		<link rel="stylesheet" href="../css/imagePreview.css" />
		<link rel="stylesheet" href="../css/center/case_detail.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">病曆詳情</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="openView()">编辑</a>
			</header>
			<div class="mui-content">
				<div class="case-item" id="case-item">
					<p class='case-info mui-ellipsis'>
						<span class='main-font-color font-size-16'>{{illName}}</span>
						<span class="mui-pull-right font-color-666 font-size-14">年齡：{{age}} 性别：{{sex}}</span>
					</p>
					<div class='font-size-14'>
						<p>就診人：{{realname}}</p>
						<p>過 敏 史：{{allergyHistory}}</p>
						<p>诊 断：{{result}}</p>
						<p>分 期：{{stages}}</p>
						<p>基本病情：{{situation}}</p>
					</div>
				</div>
				<div class="treatment font-size-16">就診記錄<span class="mui-pull-right main-font-color" @tap="delCase()">刪除病曆</span></div>
				<div class="treatment-detail">
					<div v-if="remarks.length == 0 " class='noContent'><div class='mui-icon iconfont icon-comiiszanwushuju'></div><div>暫無記錄</div></div>
					<yd-timeline v-else>
						<yd-timeline-item v-for="item in remarks">
							<p>{{item.visitDate}}<span class="step">{{item.stage}}</span></p>
							<p>{{item.content}}</p>
							<img v-for="img in item.imgArr" :src="img" data-preview-src='' data-preview-group='1'></img>
						</yd-timeline-item>
					</yd-timeline>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/mui.zoom.js"></script>
	<script src="../js/mui.previewimage.js"></script>
	<script src="../js/common.js"></script>
	<script>
		var vm = null;
		(function(_, doc, u, w) {
			_.init();
			var pdata = {};
			vm = new Vue({
				el: '#app',
				data: {
					illId: null,
					illName: null,
					realname: null,
					allergyHistory: null,
					sex: null,
					age: null,
					stages: null,
					situation: null,
					result: null,
					remarks: []
				},
				mounted: function() {
					var self = this;
					_.plusReady(function(e) {
						pdata.privateToken = w.getUser();
						self.illId = plus.webview.currentWebview().illId;
						pdata.illId = self.illId;
						self.getData();
					})
				},
				methods: {
					getData: function() {
						u.mypost("medical/getIllnessDetail", pdata, true, function(data) {
							if(data.code == 0) {
								vm.remarks = convert(data.data.remarks || []);
								data = data.data.ill; //病曆詳情
								vm.illName = data.illName;
								vm.realname = data.realname;
								vm.age = data.age;
								vm.sex = 1 == data.sex ? '男' : '女';
								vm.allergyHistory = data.allergyHistory;
								vm.result = data.result;
								if(data.stages == 1) {
									vm.stages = "Ⅰ期";
								} else if(data.stages == 2) {
									vm.stages = "Ⅱ期";
								} else if(data.stages == 3) {
									vm.stages = "Ⅲ期";
								} else if(data.stages == 4) {
									vm.stages = "Ⅳ期";
								} else if(data.stages == 0) {
									vm.stages = "无";
								}
								vm.situation = data.situation;
							}else {
								_.toast(data.msg || '請求異常')
							}
						})
					},
					openView: function() {
						w.openView("edit_case.html", {
							illId: vm.illId
						});
					},
					delCase: function() {
						_.confirm('是否確定刪除该病曆', '提示', ['是', '否'], function(e) {
							if(e.index == 0) {
								u.mypost("medical/delIllness", {
									privateToken:w.getUser(),
									illId: vm.illId
								}, true, function(data) {
									if(data.code == 0) {
										_.toast('刪除成功');
										plus.webview.getWebviewById('case_list').evalJS('getCaseList()');
										_.later(function() {
											_.back();
										}, 500)
									}
								})
							}
						})
					}
				}
			})
			
			/**
			 * @param {Array} items 
			 */
			function convert(items) {
				var newItems = [],imgArr = [];
				items.forEach(function(item) {
					imgArr = [];
					item.img&&item.img.img1?imgArr.push(imgServer + item.img.img1):'';
					item.img&&item.img.img2?imgArr.push(imgServer + item.img.img2):'';
					item.img&&item.img.img3?imgArr.push(imgServer + item.img.img3):'';
					newItems.push({
						visitDate: item.visitDate,
						remarks: item.remarks,
						content: item.content,
						stage:item.stage,
						imgArr: imgArr
					});
				});
				return newItems;
			}
			_.previewImage();
		})(mui, document, util, window)

		function getCaseDetail() {
			vm.getData();
		}
			
	</script>

</html>