<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>编辑病曆</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/center/edit_case.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<style>
			input[type=text],
			input[type=number],
			select {
				margin-bottom: 0;
			}
			
			.treatment-choice img {
				width: 70px;
				height: 70px;
				border-radius: 3px;
			}
			
			.treatment-choice p {
				text-align: center;
				margin: 10px 0;
			}
			
			.noRemarks {
				margin: 30% 0;
				text-align: center;
			}
			
			.content {
				padding: 44px 0 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">编辑病曆</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="saveData()">保存</a>
			</header>
			<div class="content">
				<yd-tab>
					<yd-tab-panel label="基本資料">
						<yd-cell-group>
							<yd-cell-item>
								<span slot="left">病曆名稱：</span>
								<input slot="right" type="text" placeholder="請輸入病曆名稱" maxlength="16" v-model="illName">
							</yd-cell-item>
							<yd-cell-item>
								<span slot="left">姓名：</span>
								<input slot="right" type="text" placeholder="請輸入姓名" v-model="realName">
							</yd-cell-item>
							<yd-cell-item>
								<span slot="left">年齡：</span>
								<input slot="right" type="number" placeholder="請輸入年齡" v-model="age">
							</yd-cell-item>
							<yd-cell-item arrow type="label">
								<span slot="left">性別：</span>
								<select slot="right" v-model="sex">
									<option value="1">男</option>
									<option value="2">女</option>
								</select>
							</yd-cell-item>
							<yd-cell-item>
								<span slot="left">過敏史：</span>
								<input slot="right" type="text" maxlength="10" placeholder="以往過敏史，10字以內" v-model="allergyHistory">
							</yd-cell-item>
							<yd-cell-item>
								<span slot="left">診斷結果：</span>
								<input slot="right" type="text" placeholder="請輸入診斷結果" v-model="result">
							</yd-cell-item>
							<yd-cell-item arrow type="label">
								<span slot="left">分期：</span>
								<select slot="right" v-model="stages">
									<option value="">請選擇分期</option>
									<option value="1">Ⅰ期</option>
									<option value="2">Ⅱ期</option>
									<option value="3">Ⅲ期</option>
									<option value="4">Ⅳ期</option>
									<option value="0">无</option>
								</select>
							</yd-cell-item>
							<yd-cell-item>
								<yd-textarea slot="right" placeholder="描述病情300字以內" maxlength="300" v-model="situation"></yd-textarea>
							</yd-cell-item>
						</yd-cell-group>
					</yd-tab-panel>
					<yd-tab-panel label="就診記錄">
						<yd-button size="large" type="primary" @click.native="toAddRecord">添加</yd-button>
						<yd-accordion accordion>
							<yd-accordion-item accordion v-for="(item,index) in remarks" :title="item.stage">
								<yd-cell-group>
									<yd-cell-item arrow>
										<span slot="left">就診日期：</span>
										<yd-datetime type='date' start-date="2015-01-01" end-date="2025-12-12" v-model="item.visitDate" slot="right"></yd-datetime>
										<input type="hidden" v-model="item.id">
									</yd-cell-item>
									<yd-cell-item arrow type="label">
										<span slot="left">就診類型：</span>
										<select slot="right" v-model="item.stage">
											<option value="">請選擇就診類型</option>
											<option value="初診">初診</option>
											<option value="複診">複診</option>
											<option value="入院">入院</option>
											<option value="出院">出院</option>
											<option value="手術">手術</option>
											<option value="化驗">化驗</option>
											<option value="影像">影像</option>
											<option value="體征">體征</option>
											<option value="病曆">病曆</option>
											<option value="處方">處方</option>
										</select>
									</yd-cell-item>
									<yd-cell-item>
										<yd-textarea slot="right" placeholder="病情記錄300字以內" maxlength="300" v-model="item.content"></yd-textarea>
									</yd-cell-item>
									<yd-grids-group :rows="3" item-height="100px" class="treatment-choice">
										<yd-grids-item>
											<div slot="else">
												<img @tap="changeImg(index,1)" :src="item.img1" />
											</div>
										</yd-grids-item>
										<yd-grids-item>
											<div slot="else">
												<img @tap="changeImg(index,2)" :src="item.img2" />
											</div>
										</yd-grids-item>
										<yd-grids-item>
											<div slot="else">
												<img @tap="changeImg(index,3)" :src="item.img3" />
											</div>
										</yd-grids-item>
										<p>圖片最多只能上傳3張，且每張圖片不能超過2M</p>
									</yd-grids-group>
								</yd-cell-group>
							</yd-accordion-item>
						</yd-accordion>
					</yd-tab-panel>
				</yd-tab>
			</div>
			<div id="sheet" class="mui-popover mui-popover-bottom mui-popover-action">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a>拍照上傳</a>
					</li>
					<li class="mui-table-view-cell">
						<a>從相冊選擇</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/common.js"></script>
	<script type="text/javascript">
		(function(_, doc, u, w) {
			_.init();
			var vm = new Vue({
				el: '#app',
				data: {
					illId: '',
					illName: '',
					realName: '',
					age: "",
					sex: "1",
					allergyHistory: '',
					result: '',
					situation: '',
					stages: "",
					remarks: [],
					imgIndex: 0,
					imgI: 1,
					isEditImg:false
				},
				mounted: function() {
					var self = this;
					_.plusReady(function(e) {
						self.illId = plus.webview.currentWebview().illId;
						self.getData({
							privateToken: w.getUser(),
							illId: self.illId
						});
					})
				},
				methods: {
					getData: function(pdata) {
						//读取病曆信息
						u.mypost("medical/editIllnessView", pdata, true, function(data) {
							if(data.code == 0) {
								var dataIll = data.data.illnessHistory;
								vm.illName = dataIll.illName;
								vm.age = dataIll.age;
								vm.sex = dataIll.sex;
								vm.realName = dataIll.realname;
								vm.allergyHistory = dataIll.allergyHistory;
								vm.result = dataIll.result;
								vm.stages = dataIll.stages;
								vm.situation = dataIll.situation;
								vm.remarks = convert(data.data.remarks || []);
							}
						}, myerror);
					},
					saveData: function() {
						console.log(JSON.stringify(vm.remarks));
						if(u.isNull(vm.illName)) {
							_.toast("請輸入病曆名稱");
						} else if(u.isNull(vm.realName)) {
							_.toast("請輸入姓名");
						} else if(u.isNull(vm.age)) {
							_.toast("請輸入年齡");
						} else if(!u.checkAge(vm.age)) {
							_.toast("請輸入正确的年齡");
						} else if(u.isNull(vm.allergyHistory)) {
							_.toast("請輸入過敏史");
						} else if(vm.allergyHistory.length > 10) {
							_.toast("過敏史必须在10个字以内");
						} else if(u.isNull(vm.result)) {
							_.toast("請輸入診斷結果");
						} else if(u.isNull(vm.stages)) {
							_.toast("請選擇分期");
						} else if(u.isNull(vm.situation)) {
							_.toast("請輸入基本病情");
						} else if(vm.situation.length > 300) {
							_.toast("基本病情必須在300個字以內");
						} else if(isEmojiCharacter(vm.illName) || isEmojiCharacter(vm.realName) || isEmojiCharacter(vm.age) ||
							isEmojiCharacter(vm.allergyHistory) || isEmojiCharacter(vm.result) || isEmojiCharacter(vm.situation)) {
							_.toast("不支持表情輸入");
						}else if(vm.remarks.length > 0 && !vm.isEditImg){
							_.toast("就診記錄中圖片並未做任何修改");
						} else {
							//编辑病曆
							var waiting = plus.nativeUI.showWaiting(); //添加等待框
							var remarkIdsArr = [];
							for(var i = 0; i < vm.remarks.length; i++) {
								remarkIdsArr.push(vm.remarks[i].id);
							}
							var task = gettask(ASKURL + 'medical/editIllness', function(t, status) {
								var data = JSON.parse(t.responseText || '{}');
								//保存成功
								if(status == 200) {
									waiting ? waiting.close() : '';
									if(data.code == 0) {
										_.toast('保存成功');
										plus.webview.getWebviewById("case_detail").evalJS("getCaseDetail()");
										_.back();
									} else {
										_.toast(data.msg);
									}
								}
							});
							task.addData('token', token);
							task.addData('privateToken', w.getUser());
							task.addData('illId', vm.illId);
							task.addData('illName', vm.illName);
							task.addData('realName', vm.realName);
							task.addData('age', vm.age);
							task.addData('sex', vm.sex);
							task.addData('allergyHistory', vm.allergyHistory);
							task.addData('result', vm.result);
							task.addData('stages', vm.stages);
							task.addData('situation', vm.situation);
							task.addData("remarkIds", remarkIdsArr.join('-')); //记录ids
							var remark = null;
							for(var i = 0; i < vm.remarks.length; i++) {
								remark = vm.remarks[i];
								task.addData('visitDate_' + remarkIdsArr[i], remark.visitDate); //日期
								task.addData("content_" + remarkIdsArr[i], remark.content); //内容
								task.addData("stages_" + remarkIdsArr[i], remark.stage); //类型
								if(remark.img1.indexOf("../images/medical-add.png") == -1 && remark.img1.indexOf("https") == -1) {
									task.addFile(remark.img1, {
										key: "img1_" + remark.id
									});
								}
								if(remark.img2.indexOf("../images/medical-add.png") == -1 && remark.img2.indexOf("https") == -1) {
									task.addFile(remark.img2, {
										key: "img2_" + remark.id
									});
								}
								if(remark.img3.indexOf("../images/medical-add.png") == -1 && remark.img3.indexOf("https") == -1) {
									task.addFile(remark.img3, {
										key: "img3_" + remark.id
									});
								}
							}
							task.start();
						}
					},
					toAddRecord: function() {
						w.openView("add_record.html", {
							illId: vm.illId
						});
					},
					changeImg: function(index, i) {
						if(vm.remarks[index]['img' + i].indexOf("medical-add.png") == -1 && vm.remarks[index]['img' + i].indexOf("https") == -1) {
							plus.nativeUI.confirm("確定移除所選圖片嗎", function(e) {
								if(0 == e.index) {
									vm.remarks[index]['img' + i] = "../images/medical-add.png";
								}
							}, "警告", ['是', '否']);
						} else {
							vm.imgIndex = index;
							vm.imgI = i;
							_('#sheet').popover('show'); //显示
						}
					}
				}
			})

			_('#sheet').on('tap', 'li', function() {
				_('#sheet').popover('hide');
				if(~this.innerHTML.indexOf('拍照上傳')) {
					choiceCamera();
				} else if(~this.innerHTML.indexOf('從相冊選擇')) {
					choicePic();
				}
			});

			function choiceCamera() {
				var cmr = plus.camera.getCamera();
				cmr.captureImage(function(p) {
					plus.io.resolveLocalFileSystemURL(p, function(entry) {
						var dst = "_doc/temp" + new Date().getTime() + ".jpg";
						plus.zip.compressImage({
							src: entry.toLocalURL(),
							dst: dst,
							width: '50%',
							overwrite: true
						}, function(even) {
							setImg(even.target);
						});
					}, function(e) {});
				}, function(e) {}, {
					index: 1,
					filename: "_doc/camera/"
				});
			}

			function choicePic() {
				plus.gallery.pick(function(path) {
					var dst = "_doc/temp" + new Date().getTime() + ".jpg";
					plus.zip.compressImage({
						src: path,
						dst: dst,
						width: '50%',
						overwrite: true
					}, function(even) {
						setImg(even.target);
					});
				}, function(e) {}, {
					filter: 'image'
				});
			}
			//赋值src
			function setImg(src) {
				vm.remarks[vm.imgIndex]['img' + vm.imgI] = src;
				vm.isEditImg = true;
			}
			//创建上传任务
			function gettask(server, callback) {
				return plus.uploader.createUpload(server, {
					method: "POST"
				}, callback);
			}
			/**
			 * @param {Array} items 
			 */
			function convert(items) {
				var newItems = [];
				items.forEach(function(item) {
					newItems.push({
						id: item.id,
						visitDate: item.visitDate,
						stage: item.stage,
						content: item.content,
						img1: item.img && item.img.img1 ? (imgServer + item.img.img1) : '../images/medical-add.png',
						img2: item.img && item.img.img2 ? (imgServer + item.img.img2) : '../images/medical-add.png',
						img3: item.img && item.img.img3 ? (imgServer + item.img.img3) : '../images/medical-add.png',
					});
				});
				return newItems;
			}
		})(mui, document, util, window)
	</script>

</html>