<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>在線問診</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/doctor/doctor_server.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">在線問診</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="saveData()">提交</a>
			</header>
			<div class="mui-content">
				<yd-cell-group>
					<yd-cell-item type="radio">
						<span slot="left">選擇時長 ：{{timeLen[0].phoneTimeLenFirst}}分鐘</span>
						<input slot="right" type="radio" :value="phoneFeeFirst" v-model="fee" />
					</yd-cell-item>
					<yd-cell-item type="radio" v-show="phoneFeeSecond != phoneFeeFirst">
						<span slot="left">選擇時長 ：{{timeLen[0].phoneTimeLenSecond}}分鐘</span>
						<input slot="right" type="radio" :value="phoneFeeSecond" v-model="fee" />
					</yd-cell-item>
					<yd-cell-item type="radio" v-show="phoneFeeThird != phoneFeeFirst && phoneFeeThird != phoneFeeSecond">
						<span slot="left">選擇時長 ：{{timeLen[0].phoneTimeLenThird}}分鐘</span>
						<input slot="right" type="radio" :value="phoneFeeThird" v-model="fee" />
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left" class="main-font-color">咨詢費：</span>
						<span slot="right" class="main-font-color">¥ {{fee}}</span>
					</yd-cell-item>
				</yd-cell-group>
				<yd-cell-group>
					<yd-cell-item arrow>
						<span slot="left"><span class="star">*</span>鉤通時間：</span>
						<yd-datetime type='datetime' :start-date="startTime" end-date="2019-12-12" v-model="hopeCallDate" slot="right"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>聯系人：</span>
						<input slot="right" type="text" v-model="nickname" placeholder="請輸入聯系人姓名">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>聯系電話：</span>
						<input slot="right" type="number" v-model="telephone" placeholder="請輸入聯系電話">
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left"><span class="star">*</span>性別：</span>
						<select slot="right" v-model="sex">
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</yd-cell-item>
					<yd-cell-item arrow type="label" v-if="illness.length == 0" @click.native="addCase">
						<span slot="left"><span class="star">*</span>選擇病曆：</span>
						<span slot="right">去添加</span>
					</yd-cell-item>
					<yd-cell-item arrow type="label" v-else>
						<span slot="left"><span class="star">*</span>選擇病曆：</span>
						<select slot="right" v-model="illnessId">
							<option value="">請選擇病曆</option>
							<option v-for="item in illness" :value="item.illId">{{item.illName}}</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<yd-textarea slot="right" placeholder="請輸入病情簡要概述" maxlength="300" v-model="content"></yd-textarea>
					</yd-cell-item>
					<div class="check_box">
						<yd-checkbox value="true" disabled @click.native="toAgree">知情同意書</yd-checkbox>
					</div>
				</yd-cell-group>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/common.js"></script>
	<script type="text/javascript">
		var vm = null,
			type = 1,
			docId = null;
		(function(_, doc, u, w) {
			var currentTime = getCurrentTime();
			vm = new Vue({
				el: '#app',
				data: {
					timeLen: [{
						"phoneTimeLenFirst": "0",
						"phoneFeeFirst": "0.00",
						"phoneTimeLenSecond": "0",
						"phoneFeeSecond": "0.00",
						"phoneTimeLenThird": "0",
						"phoneFeeThird": "0.00"
					}],
					hopeCallDate: currentTime,
					startTime: currentTime,
					illness: [],
					illnessId: '',
					nickname: '',
					telephone: '',
					sex: 1,
					content: '',
					phoneFeeFirst: 0,
					phoneFeeSecond: 0,
					phoneFeeThird: 0,
					fee: 0
				},
				mounted: function() {
					var self = this;
					_.plusReady(function() {
						var currentView = plus.webview.currentWebview();
						docId = currentView.docId;
						oid = currentView.oid;
						type = currentView.type ? currentView.type : 2;
						self.regNumView(docId);
					})
				},
				methods: {
					regNumView: function(docId) {
						u.mypost("diagnosis_online/diaSelectTimeLenView", {
							privateToken: w.getUser(),
							docId: docId
						}, true, function(data) {
							if(data.code == 0) {
								vm.illness = data.data.illness || []; //病曆列表
								vm.timeLen = data.data.timeLen || [];
								vm.nickname = data.data.userInfo.nickname;
								vm.telephone = data.data.userInfo.phone;
								vm.fee = data.data.timeLen[0].phoneFeeFirst;
								vm.phoneFeeFirst = data.data.timeLen[0].phoneFeeFirst;
								vm.phoneFeeSecond = data.data.timeLen[0].phoneFeeSecond;
								vm.phoneFeeThird = data.data.timeLen[0].phoneFeeThird;
							} else if(data.code == 500 && "未登錄" == data.msg) {
								u.goLogin();
							} else {
								_.toast(data.msg)
							}
						}, myerror);
					},
					saveData: function() {
						if(u.isNull(vm.fee)) {
							_.toast("請選擇时长");
						} else if(u.isNull(vm.nickname)) {
							_.toast("請輸入聯系人姓名");
						} else if(u.isNull(vm.telephone)) {
							_.toast("請輸入手機號碼");
						} else if(!u.checkPhone(vm.telephone)) {
							_.toast("請輸入正確的手機號碼");
						} else if(u.isNull(vm.hopeCallDate)) {
							_.toast("請選擇鉤通時間");
						} else if(u.isNull(vm.illnessId)) {
							_.toast("请選擇病曆");
						} else if(isEmojiCharacter(vm.nickname) || isEmojiCharacter(vm.telephone) || isEmojiCharacter(vm.content)) {
							_.toast("不支持表情输入");
						} else {
							var pdata = {};
							pdata.privateToken = w.getUser();
							pdata.docId = docId;
							pdata.person = vm.nickname;
							pdata.sex = vm.sex;
							pdata.telephone = vm.telephone;
							pdata.hopeCallDate = vm.hopeCallDate;
							pdata.content = vm.content;
							pdata.illnessId = vm.illnessId;
							pdata.price = vm.fee;
							if(vm.fee == vm.phoneFeeFirst) {
								pdata.phoneTimeLen = vm.timeLen[0].phoneTimeLenFirst;
								pdata.timeLenKey = 'phoneTimeLenFirst';
							} else if(vm.fee == vm.phoneFeeSecond) {
								pdata.phoneTimeLen = vm.timeLen[0].phoneTimeLenSecond;
								pdata.timeLenKey = 'phoneTimeLenSecond';
							} else {
								pdata.phoneTimeLen = vm.timeLen[0].phoneTimeLenThird;
								pdata.timeLenKey = 'phoneTimeLenThird';
							}
							if(type == 1) {
								pdata.oid = oid; //重新預約id
								u.mypost("diagnosis_online/reDiaSubmit", pdata, true, function(data) {
									if(data.code == 0) {
										var ex = {
											type: 4,
											order_type: "在線問診咨詢費",
											orderId: oid,
											fee: vm.fee
										}
										w.openView("pay.html", ex);
									} else {
										_.toast(data.msg);
									}
								}, myerror);
							} else if(type == 2) {
								u.mypost("diagnosis_online/diaDoPostTempOne", pdata, true, function(data) {
									if(data.code == 0) {
										orderId = data.data.orderId;
										var ex = {
											type: 4,
											order_type: "在線問診咨詢費",
											orderId: orderId,
											fee: vm.fee
										}
										w.openView("pay.html", ex);
									} else {
										_.toast(data.msg);
									}
								}, myerror);
							}
						}
					},
					toAgree: function() {
						w.openView("../know_agree.html");
					},
					addCase: function() {
						w.openView("../my_case_history/add_case.html");
					}
				}
			})
			//获得当前时间
			function getCurrentTime() {
				var date = new Date();
				var month = date.getMonth() + 1;
				var strDate = date.getDate() + 1;
				if(month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if(strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = date.getFullYear() + "-" + month + "-" + strDate;
				return currentdate;
			}
		})(mui, document, util, window)
		//获取病曆列表
		function getIllist() {
			var pdata = {
				privateToken: window.getUser(),
				docId: docId
			}
			//根据醫生id 获取基本信息
			util.mypost("reg_num/regNumView", pdata, false, function(data) {
				if(data.code == 0) {
					vm.illness = data.data.illness || []; //病曆列表
				} else if(data.code == 500 && "未登錄" == data.msg) {
					util.goLogin();
				} else {
					mui.toast(data.msg)
				}
			}, myerror);
		}
	</script>

</html>