<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>預約挂號</title>
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/doctor/doctor_server.css" />
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">預約挂號</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="saveData()">提交</a>
			</header>
			<div class="mui-content">
				<yd-cell-group>
					<yd-cell-item>
						<span slot="left">預約定金 (¥) ：</span>
						<input slot="right" type="number" v-model="fee" placeholder="請輸入預約定金" readonly>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">醫院地址：</span>
						<input slot="right" type="text" v-model="userAddr" placeholder="請輸入醫院地址" readonly>
					</yd-cell-item>
					<yd-cell-item arrow>
						<span slot="left">选择時間：</span>
						<yd-datetime type='datetime' :start-date="startTime" end-date="2019-12-12" v-model="appointTime" slot="right"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">聯系人：</span>
						<input slot="right" type="text" v-model="person" placeholder="請輸入聯系人姓名">
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left">性別：</span>
						<select slot="right" v-model="sex">
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					</yd-cell-item>
					<yd-cell-item arrow>
						<span slot="left">出生年月：</span>
						<yd-datetime type='date' start-date="1920-01-01" end-date="2018-12-12" v-model="birthday" slot="right"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">聯系電話：</span>
						<input slot="right" type="number" v-model="telephone" placeholder="請輸入聯系電話">
					</yd-cell-item>
					<yd-cell-item arrow type="label" v-if="illness.length == 0" @click.native="addCase">
						<span slot="left">選擇病曆：</span>
						<span slot="right">去添加</span>
					</yd-cell-item>
					<yd-cell-item arrow type="label" v-else>
						<span slot="left">選擇病曆：</span>
						<select slot="right" v-model="illId">
							<option value="">請選擇病曆</option>
							<option v-for="item in illness" :value="item.illId">{{item.illName}}</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<yd-textarea slot="right" placeholder="備注100字以內" maxlength="100" v-model="remark"></yd-textarea>
					</yd-cell-item>
					<div class="check_box">
						<yd-checkbox value="true" disabled @click.native="toAgree">知情同意書</yd-checkbox>
					</div>
				</yd-cell-group>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script>
		var appointId = null,
			docId = null,
			type = 1;
		var vm = null;
		(function(_, doc, u, w) {
			var currentTime = getCurrentTime();
			vm = new Vue({
				el: '#app',
				data: {
					fee: '0.00',
					appointTime: currentTime,
					startTime: currentTime,
					sex: 1,
					person: '',
					userAddr: '',
					illness: [],
					illId: '',
					birthday: '1990-1-1',
					minuteFormat: '',
					telephone: '',
					remark: ''
				},
				mounted: function() {
					var self = this;
					_.plusReady(function() {
						var currentView = plus.webview.currentWebview();
						docId = currentView.docId;
						appointId = currentView.appointId;
						type = currentView.type ? currentView.type : 2;
						self.regNumView(docId);
					})
				},
				methods: {
					regNumView: function(docId) {
						u.mypost("reg_num/regNumView", {
							privateToken: w.getUser(),
							docId: docId
						}, true, function(data) {
							if(data.code == 0) {
								vm.illness = data.data.illness || []; //病曆列表
								vm.fee = data.data.fee[0].regNumFee || '0.00'; //费用
								vm.userAddr = data.data.address[0].address;
								vm.person = data.data.userInfo.nickname;
								vm.telephone = data.data.userInfo.phone;
								vm.sex = (data.data.userInfo.sex == '男') ? 1 : 2;
							} else if(data.code == 500 && "未登錄" == data.msg) {
								u.goLogin();
							} else {
								_.toast(data.msg)
							}
						}, myerror);
					},
					saveData: function() {
						if(u.isNull(vm.userAddr)) {
							_.toast("請輸入地址");
						} else if('請選擇預約時間' == vm.appointTime) {
							_.toast("請選擇預約時間");
						} else if(u.isNull(vm.person)) {
							_.toast("請輸入聯系人姓名");
						} else if(u.isNull(vm.telephone)) {
							_.toast("請輸入聯系電話");
						} else if(!u.checkPhone(vm.telephone)) {
							_.toast("請输入正确的聯系電話");
						} else if(u.isNull(vm.illId)) {
							_.toast("請選擇病曆");
						} else if(vm.remark.length > 100) {
							_.toast("備注字數限制100字");
						} else if(isEmojiCharacter(vm.userAddr) || isEmojiCharacter(vm.person) || isEmojiCharacter(vm.telephone) || isEmojiCharacter(vm.remark)) {
							_.toast("不支持表情輸入");
						} else {
							var pdata = {
								privateToken: w.getUser(),
								docId: docId,
								person: vm.person,
								sex: vm.sex,
								appointTime: vm.appointTime,
								userAddr: vm.userAddr,
								birthday: vm.birthday,
								telephone: vm.telephone,
								illId: vm.illId,
								remark: vm.remark
							}
							var orderId = null;
							if(type == 1) {
								u.mypost("reg_num/reAppointSubmit", pdata, true, function(data) {
									if(data.code == 0) {
										orderId = data.data.orderId;
										var ex = {
											type: 6,
											order_type: "預約挂號定金", //代表是預約挂號
											orderId: appointId,
											fee: vm.fee,
											orderTime: vm.appointTime,
											address: vm.userAddr
										}
										w.openView("pay.html", ex);
									} else if(data.code == 500 && '未登錄' == data.msg) {
										u.goLogin();
									} else {
										_.toast(data.msg);
									}
								}, myerror);
							} else if(type == 2) {
								//預約支付
								u.mypost("reg_num/payView", pdata, true, function(data) {
									if(data.code == 0) {
										orderId = data.data.orderId;
										var ex = {
											type: 6,
											order_type: "預約挂號定金",
											orderId: orderId,
											fee: vm.fee,
											orderTime: vm.appointTime,
											address: vm.userAddr
										}
										w.openView("pay.html", ex);
									} else if(data.code == 500 && '未登錄' == data.msg) {
										u.goLogin();
									} else {
										_.toast(data.msg);
									}
								}, myerror);
							}
						}
					},
					toAgree: function() {
						w.openView("../know_agree.html");
					},
					addCase: function() {
						w.openView("../my_case_history/add_case.html");
					}
				}
			})

			//获得当前时间
			function getCurrentTime() {
				var date = new Date();
				var month = date.getMonth() + 1;
				var strDate = date.getDate() + 1;
				if(month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if(strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = date.getFullYear() + "-" + month + "-" + strDate;
				return currentdate;
			}
		})(mui, document, util, window)

		//获取病曆列表
		function getIllist() {
			var pdata = {
				privateToken: window.getUser(),
				docId: docId
			}
			//根据醫生id 获取基本信息
			util.mypost("reg_num/regNumView", pdata, false, function(data) {
				if(data.code == 0) {
					vm.illness = data.data.illness || []; //病曆列表
				} else if(data.code == 500 && "未登錄" == data.msg) {
					util.goLogin();
				} else {
					mui.toast(data.msg)
				}
			}, myerror);
		}
	</script>

</html>