<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>健康</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/common.css" />
	</head>
	<style>
		.yd-scrolltab {
			top: 44px;
		}
		
		.img {
			width: 100px;
		}
		
		.yd-scrolltab-item {
			padding: 0 5px;
		}
		
		.yd-scrolltab-active .yd-scrolltab-title {
			color: #33A2D7;
		}
	</style>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">健康</h1>
			</header>
			<div class="mui-content">
				<yd-scrolltab>
					<yd-scrolltab-panel :label="item.label" v-for="item  in list">
						<yd-list :theme="1">
							<yd-list-item v-for="i in 15">
								<img slot="img" v-lazy="item.imgsrc" @tap="toDetail(item)">
								<span slot="title">{{item.label}}</span>
							</yd-list-item>
						</yd-list>
					</yd-scrolltab-panel>
				</yd-scrolltab>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/vue_lazyload.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script>
		var vm = null;
		(function(_, doc, u, w) {
			Vue.use(VueLazyload, {
				preLoad: 1.3,
				error: '../images/default-news.png',
				loading: '../images/default-news.png',
				attempt: 1
			});
			//创建vue对象
			vm = new Vue({
				el: "#app",
				data: {
					list: [{
							label: '保健品',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品2',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品3',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品4',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品5',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品6',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品7',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品8',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品9',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品10',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品11',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品12',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品13',
							imgsrc: '../images/1.jpg'
						},
						{
							label: '保健品14',
							imgsrc: '../images/1.jpg'
						}
					]
				},
				mounted: function() {
					var self = this;
				},
				methods: {
					toDetail: function(item) {
						w.openView("shopDetail.html")
					}
				}
			});
		})(mui, document, util, window)
	</script>

</html>