<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>健康</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/common.css" />
	</head>
	<style>

	</style>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">商城</h1>
			</header>
			<div class="mui-content">
				<yd-tab horizontal-scroll v-model="tab2" :callback="fn" :prevent-default="false" :item-click="itemClick">
					<yd-tab-panel v-for="item in items" :label="item.label">{{item.content}}</yd-tab-panel>
				</yd-tab>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/common.js"></script>
	<script>
		var vm = null;
		(function(_, doc, u, w) {
			//创建vue对象
			vm = new Vue({
				el: "#app",
				data: {
					mescroll: null,
					tab2: 0,
					items: [{
							label: '1111',
							content: 'aaaaaaaaaaa'
						},
						{
							label: '2222',
							content: 'bbbbbbbbbbb'
						},
						{
							label: '3333',
							content: 'ccccccccccc'
						},
						{
							label: '4444',
							content: 'ddddddddddd'
						},
						{
							label: '5555',
							content: '55555'
						},
						{
							label: '666',
							content: '66666'
						},
						{
							label: '777',
							content: '77777'
						}
					]
				},
				mounted: function() {
					var self = this;
				},
				methods: {
					fn: function(label, key) {
						console.log(label, key);
					},
					itemClick: function(key) {
						this.$dialog.loading.open('数据加载中');
						setTimeout(function() {
							this.tab2 = key;
							this.$dialog.loading.close();
							this.items[key].content = '新内容【key:' + key + '】新内容_' + new Date().getTime();
						}, 1000);
					}
				}
			});
		})(mui, document, util, window)
	</script>

</html>