<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>個人信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<style>
			input[type=number],
			input[type=text],
			select {
				margin-bottom: 0
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-pull-left mui-action-back mui-icon mui-icon-left-nav"></a>
				<h1 id="title" class="mui-title">個人信息</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" @tap="saveData()">保存</a>
			</header>
			<div style="padding: 44px 0;">
				<yd-cell-item>
					<span slot="left">身份證號：</span>
					<input slot="right" type="text" v-model="idcard" placeholder="請輸入身份證號">
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">手機號：</span>
					<input slot="right" type="text" v-model="phone" placeholder="請輸入手機號">
				</yd-cell-item>
				<yd-cell-item>
					<span slot="left">昵稱：</span>
					<input slot="right" type="text" v-model="nickname" placeholder="請輸入昵稱">
				</yd-cell-item>
				<yd-cell-item arrow type="label">
					<span slot="left">性別：</span>
					<select slot="right" v-model="sex">
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
				</yd-cell-item>
				<yd-cell-item arrow>
					<span slot="left">出生年月：</span>
					<yd-datetime type='date' start-date="1920-01-01" end-date="2018-12-12" v-model="birthday" slot="right"></yd-datetime>
				</yd-cell-item>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript">
		(function(_, doc, u, w) {
			var vm = new Vue({
				el: '#app',
				data: {
					nickname: '',
					sex: 1,
					phone: '',
					idcard: '',
					birthday: '1990-01-01'
				},
				mounted: function() {
					var self = this;
					_.plusReady(function() {
						self.getData();
					})
				},
				methods: {
					getData: function() {
						u.mypost("user_center/userCenterDetail", {
							privateToken: w.getUser()
						}, true, function(data) {
							console.log("data====" + JSON.stringify(data));
							if(data.code == 0) {
								vm.nickname = data.data.userInfo.nickname;
								vm.phone = data.data.userInfo.phone;
								vm.idcard = data.data.userInfo.idcard;
								vm.sex = data.data.userInfo.sex;
								vm.birthday = data.data.userInfo.birthday.substr(0, 10);
							} else if(data.code == 500 && "未登錄" == data.msg) {
								u.goLogin();
							} else {
								_.toast(data.msg)
							}
						}, myerror);
					},
					saveData: function() {
						var pdata = {
							privateToken: w.getUser(),
							nickname: vm.nickname,
							sex: vm.sex,
							phone: vm.phone,
							idcard: vm.idcard,
							birthday: vm.birthday
						};
						if(u.isNull(pdata.nickname)) {
							_.toast("請輸入昵稱");
						} else if(!u.checkPhone(pdata.phone)) {
							_.toast("請輸入正確手機號");
						} else if(!u.checkIdCard(pdata.idcard)) {
							_.toast("請輸入正確的身份證號");
						} else {
							u.mypost("user_center/userDetailSave", pdata, true, function(data) {
								if(data.code == 0) {
									_.toast(data.msg);
									plus.webview.getWebviewById("my_center/myD.html").evalJS("getMyInfo()");
								} else {
									_.toast(data.msg);
								}
							}, myerror);
						}
					}
				}
			})
		})(mui, document, util, window)
	</script>

</html>