<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我的登记表</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<style>
			input[type=text],
			input[type=number],
			select {
				margin-bottom: 0;
			}
			
			.star {
				color: red
			}
			
			.yd-textarea {
				padding: 10px 5px;
			}
			
			.yd-checkbox {
				padding: 5px;
			}
			
			.marg-5 {
				margin: 10px 15px;
			}
			
			.yd-cell-box {
				margin-bottom: 0;
			}
			
			input[type=tel] {
				margin-bottom: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">我的登記表</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" v-show="isShow" @tap="saveData()">保存</a>
			</header>
			<div class="mui-content">
				<yd-cell-group>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>姓名：</span>
						<input slot="right" type="text" placeholder="請輸入姓名" v-model="customName">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>联系电话：</span>
						<input slot="right" type="tel" placeholder="請輸入联系电话" v-model="tel">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>年齡：</span>
						<input slot="right" type="number" placeholder="請輸入年齡" v-model="age">
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left"><span class="star">*</span>性別：</span>
						<select slot="right" v-model="sex">
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>身份证号：</span>
						<input slot="right" type="number" placeholder="請輸入身份证号" v-model="idcard">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">邮箱：</span>
						<input slot="right" type="text" placeholder="請輸入邮箱" v-model="email">
					</yd-cell-item>
					<yd-cell-item arrow>
						<span slot="left">出生日期：</span>
						<yd-datetime type="date" start-date="1970-01-01" end-date="2018-1-1" v-model="birthday" slot="right"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">住址：</span>
						<input slot="right" type="text" placeholder="請輸入住址" v-model="address">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">身高：</span>
						<input slot="right" type="text" placeholder="請輸入身高" v-model="height">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">家庭医生电话：</span>
						<input slot="right" type="text" placeholder="請輸入家庭医生电话" v-model="doctorTel">
					</yd-cell-item>
					<yd-cell-group>
						<yd-cell-item>
							<yd-textarea slot="right" placeholder="*請如实填写填写过敏史，没有则填写无" v-model="allergyHistory"></yd-textarea>
						</yd-cell-item>
					</yd-cell-group>
					<yd-cell-item arrow type="label">
						<span slot="left">最近是否接受手术：</span>
						<select slot="right" v-model="lastHasOperation">
							<option value="1">是</option>
							<option value="0">否</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">吸烟量：</span>
						<input slot="right" type="text" placeholder="請輸入吸烟量" v-model="amountOfSmoking">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">饮酒量：</span>
						<input slot="right" type="text" placeholder="請輸入饮酒量" v-model="amountOfDrinking">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">使用药物：</span>
						<input slot="right" type="text" placeholder="請輸入长期所使用药物" v-model="longUse">
					</yd-cell-item>
					<p class="marg-5">请选择与你相关的项目</p>
					<yd-checkbox-group v-model="ill">
						<yd-checkbox val="艾滋病" shape="circle"></yd-checkbox>
						<yd-checkbox val="高血压" shape="circle"></yd-checkbox>
						<yd-checkbox val="低血压" shape="circle"></yd-checkbox>
						<yd-checkbox val="心脏病" shape="circle"></yd-checkbox>
						<yd-checkbox val="怀孕" shape="circle"></yd-checkbox>
						<yd-checkbox val="喂母乳" shape="circle"></yd-checkbox>
						<yd-checkbox val="准备怀孕" shape="circle"></yd-checkbox>
						<yd-checkbox val="糖尿病" shape="circle"></yd-checkbox>
						<yd-checkbox val="皮肤病" shape="circle"></yd-checkbox>
						<yd-checkbox val="癫痫病" shape="circle"></yd-checkbox>
					</yd-checkbox-group>
				</yd-cell-group>
				<yd-cell-group>
					<div class="marg-5">
						<yd-checkbox v-model="ispromise" shape="circle">本人承诺以上信息均为如实填写，如有不实本人将承担所有责任。</yd-checkbox>
					</div>
				</yd-cell-group>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/common.js"></script>
	<script>
		(function(_, doc, u, w) {
			var vm = new Vue({
				el: '#app',
				data: {
					customName: '',
					tel: '',
					email: '',
					createTime: '',
					birthday: '',
					age: "",
					sex: "1",
					address: '',
					idcard: '',
					height: '',
					doctorTel: '',
					allergyHistory: '',
					amountOfSmoking: '',
					ill: [],
					address: '',
					lastHasOperation: 0,
					ispromise: true,
					amountOfDrinking: '',
					longUse: '',
					isShow: false
				},
				mounted: function() {
					u.mypost("consult/getList", {
						privateToken: w.getUser(),
						offset: 0,
						limit: 10
					}, false, function(data) {
						if(data.code == 0) {
							var data = data.data[0][0];
							if(data) {
								vm.customName = data.customName || '';
								vm.tel = data.tel || '';
								vm.email = data.email || '';
								vm.birthday = data.birthday || '';
								vm.age = data.age || '';
								vm.sex = data.sex || '';
								vm.address = data.address || '';
								vm.idcard = data.idcard || '';
								vm.height = data.height || '';
								vm.doctorTel = data.doctorTel || '';
								vm.allergyHistory = data.allergyHistory || '无';
								vm.amountOfSmoking = data.amountOfSmoking || '';
								vm.ill = data.ill || [];
								vm.address = data.address || '';
								vm.lastHasOperation = data.lastHasOperation || 0;
								vm.ispromise = data.ispromise == 1 ? true : false || false;
								vm.longUse = data.longUse || '';
								console.log("dta=======" + JSON.stringify(data));
							} else {
								vm.isShow = true;
							}
						} else if(data.code == 500 && "未登錄" == data.msg) {
							u.goLogin();
						} else {
							_.toast(data.msg);
						}
					}, myerror);
				},
				methods: {
					saveData: function() {
						var pdata = {
							privateToken: w.getUser(),
							customName: vm.customName,
							tel: vm.tel,
							email: vm.email,
							createTime: vm.getNowFormatDate(),
							birthday: vm.birthday,
							age: vm.age,
							sex: vm.sex,
							address: vm.address,
							idcard: vm.idcard,
							height: vm.height,
							doctorTel: vm.doctorTel,
							allergyHistory: vm.allergyHistory,
							amountOfSmoking: vm.amountOfSmoking,
							address: vm.address,
							lastHasOperation: vm.lastHasOperation,
							ispromise: vm.ispromise ? 1 : 0,
							ill: vm.ill,
							longUse: vm.longUse
						}
						if(u.isNull(pdata.customName)) {
							_.toast("請輸入姓名");
						} else if(u.isNull(pdata.tel)) {
							_.toast("請輸入联系电话");
						} else if(u.isNull(pdata.age)) {
							_.toast("請輸入年齡");
						} else if(u.isNull(pdata.age)) {
							_.toast("請輸入年齡");
						} else if(!u.checkIdCard(pdata.idcard)) {
							_.toast("請輸入正确的身份证号");
						} else if(u.isNull(pdata.allergyHistory)) {
							_.toast("請如实填写填写过敏史");
						} else if(!pdata.ispromise) {
							_.toast("请确认选择承诺协议");
						} else {
							u.mypost("consult/save", pdata, true, function(data) {
								if(data.code == 0) {
									_.toast("登记成功");
									_.later(function() {
										_.back();
									}, 500)
								} else if(data.code == 500 && "未登錄" == data.msg) {
									u.goLogin();
								} else {
									_.toast(data.msg);
								}
							}, myerror);
						}
					},
					getNowFormatDate: function() {
						var date = new Date();
						var seperator1 = "-";
						var seperator2 = ":";
						var month = date.getMonth() + 1;
						var strDate = date.getDate();
						if(month >= 1 && month <= 9) {
							month = "0" + month;
						}
						if(strDate >= 0 && strDate <= 9) {
							strDate = "0" + strDate;
						}
						var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate +
							" " + date.getHours() + seperator2 + date.getMinutes() +
							seperator2 + date.getSeconds();
						return currentdate;
					}
				}
			})
		})(mui, document, util, window)
	</script>

</html>