<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>我的登记表</title>
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/dist/ydui.px.css" />
		<link rel="stylesheet" href="../css/center/myRecord.css" />
	</head>
	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">我的登記表</h1>
				<a class="mui-btn mui-btn-link mui-pull-right" v-show="isShow" @tap="saveData()">保存</a>
			</header>
			<div class="mui-content">
				<div class="group_title font-size-16">個人資料</div>
				<yd-cell-group>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>姓名：</span>
						<input slot="right" type="text" v-model="customName" :readonly="!isShow" placeholder="請輸入姓名">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>聯繫電話：</span>
						<input slot="right" type="tel" v-model="tel" :readonly="!isShow" placeholder="請輸入聯繫電話">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>年齡：</span>
						<input slot="right" type="number" v-model="age" :readonly="!isShow" placeholder="請輸入年齡">
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left"><span class="star">*</span>性別：</span>
						<select slot="right" v-model="sex" :readonly="!isShow">
							<option value="1">男</option>
							<option value="0">女</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span>身份證號：</span>
						<input slot="right" type="number" v-model="idcard" :readonly="!isShow" placeholder="請輸入身份證號">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">郵箱：</span>
						<input slot="right" type="text" v-model="email" :readonly="!isShow" placeholder="請輸入郵箱">
					</yd-cell-item>
					<yd-cell-item arrow>
						<span slot="left">出生日期：</span>
						<yd-datetime type="date" start-date="1970-01-01" end-date="2018-1-1" v-model="birthday" slot="right" :readonly="!isShow"></yd-datetime>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">住址：</span>
						<input slot="right" type="text" v-model="address" :readonly="!isShow" placeholder="請輸入住址">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">身高(cm)：</span>
						<input slot="right" type="text" v-model="height" :readonly="!isShow" placeholder="請輸入身高">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">家庭醫生及電話：</span>
						<input slot="right" type="text" v-model="doctorTel" :readonly="!isShow" placeholder="如有,請輸入家庭醫生及電話">
					</yd-cell-item>
					<div class="group_title font-size-16">病历和禁忌</div>
					<p class="marg-10 mui-text-center">（請選擇與你相關的項目）</p>
					<form class="mui-input-group">
						<div class="mui-input-row mui-checkbox mui-left">
							<label>愛滋病  AIDS </label>
							<input value="愛滋病" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>高血壓  Hypertension</label>
							<input value="高血壓" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>低血壓  Hypotension</label>
							<input value="低血壓" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>心臟病 Heart Disease</label>
							<input value="心臟病" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>懷孕 Pregnancy</label>
							<input value="懷孕" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>喂母乳 Breast feeding</label>
							<input value="喂母乳" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>準備懷孕 Prepare for Pregnancy</label>
							<input value="準備懷孕" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>糖尿病  Diabetes</label>
							<input value="糖尿病" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>皮膚病  Skin Disease</label>
							<input value="皮膚病" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>癲癇病  Epilepsy</label>
							<input value="癲癇病" type="checkbox" v-model="ill" :disabled="!isShow">
						</div>
					</form>
					<yd-cell-item>
						<span slot="left"><span class="star">*</span> 敏感：</span>
						<input slot="right" type="text" v-model="allergyHistory" :readonly="!isShow" placeholder="如有請注明,沒有則填寫無">
					</yd-cell-item>
					<yd-cell-item arrow type="label">
						<span slot="left">最近曾接受手術：</span>
						<select slot="right" v-model="lastHasOperation" :readonly="!isShow">
							<option value="1">是</option>
							<option value="0">否</option>
						</select>
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">吸煙量：</span>
						<input slot="right" type="text" v-model="amountOfSmoking" :readonly="!isShow" placeholder="如有,請輸入每日吸煙量">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">飲酒量：</span>
						<input slot="right" type="text" v-model="amountOfDrinking" :readonly="!isShow" placeholder="如有,請輸入每日飲酒量">
					</yd-cell-item>
					<yd-cell-item>
						<span slot="left">長期使用藥物：</span>
						<input slot="right" type="text" v-model="longUse" :readonly="!isShow" placeholder="如有,請列出名字及用量">
					</yd-cell-item>

					<div class="mui-input-row mui-checkbox mui-left marg-5">
						<label>我已確認登記資料的真實性和完整性</label>
						<input value="1" type="checkbox" v-model="ispromise" :disabled="!isShow">
					</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/dist/ydui.px.js"></script>
	<script src="../js/common.js"></script>
	<script>
		(function(_, doc, u, w) {
			_.init(), _(".mui-scroll-wrapper").scroll();
			var vm = new Vue({
				el: '#app',
				data: {
					customName: '',
					tel: '',
					email: '',
					createTime: '',
					birthday: '',
					age: "",
					sex: "1",
					address: '',
					idcard: '',
					height: '',
					doctorTel: '',
					allergyHistory: '',
					amountOfSmoking: '',
					ill: [],
					address: '',
					lastHasOperation: 0,
					ispromise: true,
					amountOfDrinking: '',
					longUse: '',
					isShow: false
				},
				mounted: function() {
					u.mypost("consult/getList", {
						privateToken: w.getUser(),
						offset: 0,
						limit: 10
					}, false, function(data) {
						if(data.code == 0) {
							var data = data.data[0] || [];
							if(data.length > 0) {
								vm.isShow = false;
								data = data[0];
								vm.customName = data.customName || '無';
								vm.tel = data.tel || '無';
								vm.email = data.email || '無';
								vm.birthday = data.birthday || '無';
								vm.age = data.age || '無';
								vm.sex = data.sex || '無';
								vm.address = data.address || '無';
								vm.idcard = data.idcard || '無';
								vm.height = data.height || '無';
								vm.doctorTel = data.doctorTel || '無';
								vm.allergyHistory = data.allergyHistory || '無';
								vm.amountOfSmoking = data.amountOfSmoking || '無';
								vm.amountOfDrinking = data.amountOfDrinking || '無';
								vm.ill = data.ill.split(",") || [];
								vm.address = data.address || '無';
								vm.lastHasOperation = data.lastHasOperation || 0;
								vm.ispromise = data.ispromise == 1 ? true : false || false;
								vm.longUse = data.longUse || '無';
							} else {
								vm.isShow = true;
							}
						} else if(data.code == 500 && "未登錄" == data.msg) {
							u.goLogin();
						} else {
							vm.isShow = true;
						}
					}, myerror);
				},
				methods: {
					saveData: function() {
						var pdata = {
							privateToken: w.getUser(),
							customName: vm.customName,
							tel: vm.tel,
							email: vm.email,
							createTime: vm.getNowFormatDate(),
							birthday: vm.birthday,
							age: vm.age,
							sex: vm.sex,
							address: vm.address,
							idcard: vm.idcard,
							height: vm.height,
							doctorTel: vm.doctorTel,
							allergyHistory: vm.allergyHistory,
							amountOfSmoking: vm.amountOfSmoking,
							address: vm.address,
							lastHasOperation: vm.lastHasOperation,
							ispromise: vm.ispromise ? 1 : 0,
							ill: vm.ill,
							longUse: vm.longUse
						}
						if(u.isNull(pdata.customName)) {
							_.toast("請輸入姓名");
						} else if(u.isNull(pdata.tel)) {
							_.toast("請輸入聯繫電話");
						} else if(u.isNull(pdata.age)) {
							_.toast("請輸入年齡");
						} else if(!u.checkAge(pdata.age)) {
							_.toast("請正確輸入年齡");
						} else if(!u.checkIdCard(pdata.idcard)) {
							_.toast("請輸入正確的身份證號");
						} else if(u.isNull(pdata.allergyHistory)) {
							_.toast("請如實填寫填寫過敏史");
						} else if(!pdata.ispromise) {
							_.toast("請確認選擇承諾協議");
						} else {
							u.mypost("consult/save", pdata, true, function(data) {
								if(data.code == 0) {
									_.toast("登記成功");
									_.later(function() {
										_.back();
									}, 500)
								} else if(data.code == 500 && "未登錄" == data.msg) {
									u.goLogin();
								} else {
									_.toast(data.msg);
								}
							}, myerror);
						}
					},
					getNowFormatDate: function() {
						var date = new Date();
						var seperator1 = "-";
						var seperator2 = ":";
						var month = date.getMonth() + 1;
						var strDate = date.getDate();
						if(month >= 1 && month <= 9) {
							month = "0" + month;
						}
						if(strDate >= 0 && strDate <= 9) {
							strDate = "0" + strDate;
						}
						var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate +
							" " + date.getHours() + seperator2 + date.getMinutes() +
							seperator2 + date.getSeconds();
						return currentdate;
					}
				}
			})
		})(mui, document, util, window)
	</script>

</html>