<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>交易記錄</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/mui.min.css" />
		<link rel="stylesheet" href="../css/mescroll/mescroll.min.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<style>
			.mescroll{
				top: 45px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-pull-left mui-action-back mui-icon mui-icon-left-nav"></a>
			<h1 id="title" class="mui-title">交易記錄</h1>
		</header>
		<div id="app" class="mui-content">
			<div id="mescroll" class="mescroll">
				<ul id="dataList" class="mui-table-view">
					<li class='mui-table-view-cell' v-for="item in items">
						<div class='mui-pull-left mui-col-sm-6'>
							<span class='font-size-16 font-color-333'>{{item.tradeDesc}}</span>
							<div class='font-color-999 font-size-12'>{{item.tradeTime}}</div>
						</div>
						<div class='mui-pull-right mui-col-sm-6 main-font-color'>
							<span v-if="item.tradeType == '充值' || item.tradeType.indexOf('退款') > 0 || item.tradeType.indexOf('收入') > 0">
								+{{item.tradeVolume}}
							</span>
							<span v-else>
								-{{item.tradeVolume}}
							</span>
						</div>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/mescroll.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript">
		(function(_, doc, u, w) {
			_.init();
			//创建vue对象
			var vm = new Vue({
				el: "#app",
				data: {
					mescroll: null,
					items: []
				},
				mounted: function() {
					var self = this;
					self.mescroll = new MeScroll("mescroll", {
						up: {
							callback: self.upCallback, //上拉回调
							page: {
								size: 5
							},
							toTop: { //配置回到顶部按钮
								src: "../img/mescroll-totop.png"
							},
							empty: { //配置列表无任何数据的提示
								warpId: "dataList",
								tip: nodataHtmlInfo
							}
						}
					});
					//初始化vue后,显示vue模板布局
					document.getElementById("dataList").style.display = "block";
				},
				methods: {
					upCallback: function(page) {
						//联网加载数据
						vm.getListDataFromNet(page.num, page.size);
					},
					getListDataFromNet: function(pageNum, pageSize) {
						util.mypost('user_center/tradeLog', {
							offset: (pageNum - 1) * pageSize,
							limit: pageSize,
							privateToken: w.getItem("privateToken")
						}, false, function(data) {
							if(data.code == 0) {
								data = data.data[0] || [];
								if(pageNum == 1) vm.items = [];
								vm.items = vm.items.concat(data);
								vm.mescroll.endSuccess(data.length);
							} else {
								_.toast(data.msg || '請求失敗');
								vm.mescroll.endErr();
							}
						}, function() {
							vm.mescroll.endErr();
						})
					}
				}
			});
		})(mui, document, util, window)
	</script>

</html>