.treatment {
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
}
.step {
	color: #33A2D7;
	margin-left: 20px
}
.treatment-detail p{
	margin: 5px 0;
}
.treatment-detail img {
	width: 80px;
	height: 80px;
	margin-right: 15px
}
body{background: #fff !important}
