.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc;
	box-shadow: 0 1px 6px transparent;
}

.zhenduan-result {
	width: 40% !important;
	height: 30px !important;
	border: 1px solid #DEDEDE !important;
	float: left !important;
	margin-top: 5px !important;
	text-indent: 0.2em
}

.fenqi {
	width: 40% !important;
	height: 30px !important;
	border: 1px solid #DEDEDE !important;
	float: left !important;
	margin-top: 5px !important
}

#base {
	height: 100px !important
}

.base-state-edit {
	width: 60% !important;
	height: 90px !important;
	text-indent: 0.2em;
	border: 1px solid #DEDEDE !important;
	margin-top: 3px;
	float: left !important
}

.case-record {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #DEDEDE;
	background-color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 0 10px;
}

/*.case-record-item {
	float: left
}*/

/*.case-record-add {
	color: #33A2D7;
	float: right
}*/

.mui-h5,
h5 {
	font-size: 14px;
	font-weight: normal;
	color: #666
}

.treatment-choice>img {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	margin-right: 10px
}