.mui-table-view .mui-media-object {
	width: 100px;
	height: 60px
}

.mui-btn i {
	display: block;
	width: 20px;
	height: 20px;
	background: #F6F6F6;
	position: absolute;
	top: 58%;
	left: 58%;
	margin-top: -15px;
	margin-left: -15px
}

.mui-slider-right .mui-btn {
	border-left: 1px solid #efeff4 !important
}

.min-h {
	min-height: 42px
}

.icon-collection {
	content: url("../../img/shanc.png");
	width: 15px
}

.mescroll {
	top: 45px;
}