.mui-bar .baocun {
	line-height: 28px;
	color: #33a2d7
}

.mui-table-view-chevron .mui-table-view-cell {
	padding-right: 40px !important
}

.mui-table-view-cell {
	height: 45px
}

.mui-radio label {
	padding-right: 5px;
	width: 54px !important;
	text-align: right;
	margin-top: -7px
}

.mui-radio input {
	margin: 0;
	padding-right: 10px
}

.radio1s {
	top: 0 !important;
	right: 80px !important
}

.radio2 {
	right: 20px;
	top: 0 !important
}

.mui-radio input[type=radio]:before {
	font-size: 20px
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: #33a2d7
}

.mui-btn-block {
	font-size: 15px;
	padding: 7px 0;
	border: 0
}

.navigate:after {
	right: 15px;
	content: '\e583' !important
}

input[type=text] {
	border: 0
}

.birPos {
	position: relative;
	bottom: 7px
}

.mui-table-view-cell:after {
	left: 0;
	height: 1px
}

.mui-table-view-cell {
	margin: 0
}

.mui-table-view:after {
	height: 0
}

.color_red {
	color: red !important
}
