.mui-control-content .mui-loading {
	margin-top: 50px
}

.mui-scroll-wrapper,
.mui-slider {
	overflow: visible
}

.mui-table-view .mui-media-object {
	max-width: 80px;
	height: auto;
	border-radius: 3px
}

.mui-slider-handle p {
	height: 25px;
	font-size: 12px;
	margin-bottom: 0;
	color: #666666;
	line-height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.mui-slider-handle span {
	color: #999999;
	font-size: 12px;
	float: right
}

.mui-media-body {
	font-size: 14px
}

.mui-slider-handle {
	border: 1px solid #DEDEDE;
	padding: 15px;
	border-radius: 5px
}

.mui-slider-handle img {
	width: 100px;
	height: 65px !important
}

.mui-table-view {
	width: 100%;
	height: auto
}

.mui-table-view-cell {
	padding: 10px 15px 0
}

.mui-slider-indicator {
	background: #fff;
	border: none;
	box-shadow: none
}

.mui-active {
	color: #33a2d7
}

.mui-active b {
	height: 2px;
	width: 60px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -31px;
	background: #33a2d7
}

.reply {
	padding: 15px
}

.reply .mui-table-view-cell {
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	position: relative;
	padding: 10px 10px 10px 60px;
	margin-bottom: 15px
}

.HeaderImg {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center
}

.HeaderImg span {
	margin-top: 8px;
	font-size: 12px;
	color: #999999
}

.reply .time {
	font-size: 12px;
	color: #999999
}

.reply p {
	color: #666666;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 17px
}

.reply .answer {
	background: url("../../img/input.png") top no-repeat;
	background-size: 100% 100%;
	padding: 10px 8px;
	margin-top: 5px
}

.reply .answer .tit {
	font-size: 15px;
	color: #333333;
	margin-top: 5px
}

.HeaderImg img {
	width: 40px;
	height: 40px;
	border-radius: 100%
}

.tabCon .mui-table-view {
	padding-bottom: 15px
}

.mui-table-view-cell:after {
	height: 0
}

.mui-media-body {
	color: #333
}

.mui-table-view,
.mui-table-view-cell.mui-active {
	background-color: #FFFFFF
}

.mui-table-view:after,
.mui-table-view:before {
	height: 0
}