.mui-table-view-cell {
	padding: 15px 20px 15px 10px;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0
}

.mui-table-view .mui-media-object {
	max-width: 85px;
	height: auto;
	margin-left: 10px;
}

.price {
	color: #33a2d7;
	font-size: 12px
}

.state {
	font-size: 12px;
	color: #6cb327
}

.but {
	background: #fcd765;
	border-radius: 10px;
	font-size: 12px;
}

.color_f99 {
	color: red
}

.color_f33 {
	color: #33A2D7
}

.packageTitle {
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.mui-table-view-cell img {
	width: 100px !important;
	height: 65px !important
}

.cancel {
	border-radius: 10px;
	font-size: 12px;
}

.mui-content {
	background-color: #fff
}

.mui-btn {
	margin: 0 0 0 5px;
}

.mui-table-view-cell {
	padding-bottom: 0;
	margin: 0;
}

.mui-navigate-right:after {
	right: 5px;
}

.mui-table-view-cell>a:not(.mui-btn) {
	margin: -15px -20px 0;
	border-bottom: 1px solid #dedede;
	padding-bottom: 15px;
}

.mui-table-view-cell .price {
	margin: 10px 0;
}

.mui-media-body {
	padding: 0 10px 0 0;
}

.btns {
	text-align: right;
	padding: 10px 0;
}

.mui-table-view:after {
	height: 0;
}

.mui-table-view-cell p {
	margin: 2px 0 0;
}

.mescroll {
	top: 44px;
}