gene-content-money.gene-content {
	margin: 45px auto 0
}

.gene-content dl {
	background-color: #FFFFFF;
	padding: 0;
	border-radius: 5px;
	margin: 0 3px 5px
}

.gene-content dl dt img {
	width: 100%;
	padding: 5px
}

.gene-content dl dd {
	margin: 0;
	padding: 0;
	font-size: 16px;
	padding: 0 10px 5px;
	text-align: justify
}

.gene-content dl dd .gene-content-title {
	height: 45px;
	color: #333;
	font-size: 15px
}

.gene-content dl dd .gene-content-money {
	color: #f99800;
	line-height: 28px
}