.mui-content,
body {
	background-color: #fff !important
}

.info-title {
	width: 95%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.info-detail {
	width: 95%;
	margin: 0 auto;
	text-align: justify;
	color: #666
}

#collect img,
#share img{
	width: 20px;
}
#collect img{
	margin: 0;
}
#collect,
#share {
	border: 0
}

.love {
	content: url("../../images/love.png") !important
}

.love-detail {
	content: url("../../img/collection.png") !important
}

.info-content p img,
table {
	width: 100% !important;
	margin: 0 auto !important
}

.popover-title {
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #33A2D7;
	text-align: center;
	color: #fff
}

.popover-content {
	width: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
	border-bottom: 1px solid #dedede
}

.popover-content dl {
	width: 32%;
	display: inline-block;
	text-align: center
}

.popover-content dl dt img {
	width: 50px;
	height: 50px
}

.popover-content dl dd {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333
}

.popover-cancel {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #FFFFFF;
	color: #333333
}